.mondido-logos {
	display: inline-block;
}

.mondido-logo {
	float: left;
	display: inline-block;
	padding: 5px;
}

.woocommerce-checkout-payment .mondido-logo img {
	display: block;
	height: auto;
	max-width: 100%;
	border: solid 1px gray;
	border-radius: 4px;
}

.mondido-overlay {
	position:         fixed;
	z-index:          1000;
	top:              0;
	left:             0;
	height:           100%;
	width:            100%;
	background-color: #e8e8e8;
}

.mondido-overlay img {
	position:  fixed;
	top:       50%;
	left:      50%;
	transform: translate(-50%, -50%);
}
